@use 'base/variables' as v;
@use 'base/mixins' as m;

.tabs {
  margin-bottom: 2rem;
  @include m.tablet {
    display: flex;
  }
  button {
    background-color: v.$blue;
    border: none;
    color: v.$white;
    padding: 1rem;
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    transition: background-color .3s ease;
    &:last-of-type {
      margin-bottom: 0;
    }
    &:hover {
      cursor: pointer;
      background-color: darken($color: v.$blue, $amount: 10);
    }
    &.active {
      background-color: v.$white;
      color: v.$blue;
    }
    @include m.tablet {
      margin-bottom: 0;
    }
  }
}